<form method="POST" action="/dinosaurs/<%=dinoId%>/?_method=PUT">
    <label for="dinosaurType">Type</label>
    <input id="dinosaurType" type="text" name="type" value="<%= dino.type %>">
  
    <label for="dinosaurName">Name</label>
    <input id="dinosaurName" type="text" name="name" value="<%= dino.name %> ">
  
    <input type="submit" value="Update Dino Info">
  </form>